<div class="container" id="loginForm">
    <table class="table table-bordered">
        <thead>
            <tr class="success">
                <td colspan="2">
                    Existing User Login
                    <a class="btn btn-success pull-right" id="register-btn-top">Register</a>
                </td>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    Email
                </td>
                <td>
                    <input type="text" id="txtEmailLogin" placeholder="Email" />
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="password" id="txtPasswordLogin" placeholder="Password" />
                </td>
            </tr>

            <tr class="success">
                <td colspan="2">
                    <input id="login-btn" class="btn btn-success" type="button" value="Login" />
                </td>
            </tr>
        </tbody>
    </table>


    <!--Here is our alert  for error-->
    <div id="divError" class="alert alert-danger collapse">
        <a id="linkClose" class="close" href="#">&times;</a>
        <div id="divErrorText"></div>
    </div><!--here ends error alert-->
</div>
<!--
<script type="text/javascript" src="../Scripts/App/Login.js"></script>
-->    

