 <script src="../Scripts/bootstrap-toggle.min.js"></script>
<link href="../Content/App/bootstrap-toggle.min.css" rel="stylesheet" />

 <!--MANAGERS PAGE-->
<div class="container">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Manager Account</a>
        </div>


        <button id="add-income-btn" data-toggle="modal" data-target="#addIncomeModal" class="btn btn-success">Add Income</button>
        <input id="get-saved-incomes-btn" class="btn btn-primary" type="button" value="See Saved Incomes" />

        <ul class="nav navbar-nav ">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Income Options <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#" id="manager-monthly-income">Monthly Income</a></li>
                    <li><a href="#" id="manager-yearly-income">Annual Income</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a id="manager-saved-incomes" href="#">All your Saved Income</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav ">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Expenses Options <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#"  id="manager-monthly-expenses">Monthly Expenses</a></li>
                    <li><a href="#" id="manager-yearly-expenses">Annual Expenses</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a id="manager-saved-expenses" href="#">All your Saved Expenses</a></li>
                </ul>
            </li>
            </ul>

            <input id="add-expense-btn" data-toggle="modal" data-target="#addExpenseModal" class="btn btn-danger" type="button" value="Add new Expense" />
            <input id="get-saved-expenses-btn" class="btn btn-primary" type="button" value="See Saved Expenses" />
            <input id="logout-btn" class="btn btn-default" type="button" value="logout" />

</div>
</nav>
</div>
<!--MANAGERS NAVBAR ENDS-->

<!--table for display follows here-->
<div class="container" >
<p><input type="checkbox" id="toggler" checked data-toggle="toggle" data-on="Incomes" data-off="Expenses" data-onstyle="success" data-offstyle="danger"></p>
    <h2>Income and Expenses Panel</h2>
    <div class="well well-lg" id="table-container">
        <!--h2>Income and Expenses Panel</h2-->
    </div><!--expenses element ends here-->

</div>


<!--ADD INCOME MODAL-->
<div id="addIncomeModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add new Income</h4>
            </div>
            <div id="login-form" class="modal-body">
                <div class="form-group">
                    <label>Income Description(Source)</label>
                    <input id="incomeDescription" type="text" name="username" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Amount in Value($)</label>
                    <input id="incomeAmount" type="text" name="password" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button id="saveNewIncomeButton" type="button" class="btn btn-primary pull-left" style="vertical-align:middle">Save</button>
                <button id="cancel" type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--ADD EXPENSE MODAL-->
<div id="addExpenseModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add new Expense</h4>
            </div>
            <div id="login-form" class="modal-body">
                <div class="form-group">
                    <label>Expense Description</label>
                    <input id="expenseDescription" type="text" name="username" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Amount in Value($)</label>
                    <input id="expenseAmount" type="text" name="password" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button id="saveNewExpenseBtn" type="button" class="btn btn-primary pull-left">Save</button>
                <button id="cancel" type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
