
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" href="~/Content/materialize/css/materialize.min.css" rel="stylesheet" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body>

    <!--THIS IS OUR MAIN LAYOUT FOR THE ONE PAGE APP-->
    <div id="page-container"></div>


    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/materialize/materialize.min.js"></script>
    <script type="text/javascript" src="~/Scripts/App/dist/app.bundle.js"></script>
</body>
</html>