
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />


</head>
<body style="padding-top:20px">

    <div class="container" id="mainWindow">
    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!--
    <script src="~/Scripts/App/Login.js" type="text/javascript"></script>
    <script src="~/Scripts/App/ManagerSession.js" type="text/javascript"></script>
    <script src="~/Scripts/App/Registration.js" type="text/javascript"></script>
        -->

    <script>
        $("#mainWindow").load("/templates/Login.html");
        $.getScript("/Scripts/App/Login.js");
    </script>

</body>
</html>


